body{
    background-color: rgb(29, 213, 179);
}
h1{
    font-family: Verdana;
    text-align:center;
}
h2{
    font-family:verdana;
    float: right;
}
h3{
    font-family:verdana;
}
p{
    font-family:verdana;
    float: right;
    }

}
img{
border-color:red;
    
}